@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #f6f6f6;
  --secondary-color: #fafafa;
  --title-color: #37383a;
  --light-title-color: #5b5d5e;
  --lighter-text-color: #888a8b;
  --border-color: #abacad42;
  --third-color: #f0f0f0;
  --transparent: #f0f0f000;
  --active-song: #e0e0e0;
}

body.dark {
  --primary-color: #1d2631;
  --secondary-color: #212a35;
  --title-color: #d7dade;
  --light-title-color: #b0b4ba;
  --lighter-text-color: #636a72;
  --border-color: #636a7248;
  --third-color: #262f39;
  --transparent: #262f3900;
  --active-song: #2f3944;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
