@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f6f6f6;
  --secondary-color: #fafafa;
  --title-color: #37383a;
  --light-title-color: #5b5d5e;
  --lighter-text-color: #888a8b;
  --border-color: #abacad42;
  --third-color: #f0f0f0;
  --transparent: #f0f0f000;
  --active-song: #e0e0e0;
  --marginCustom: 440px;
}

body.dark {
  --primary-color: #1d2631;
  --secondary-color: #212a35;
  --title-color: #d7dade;
  --light-title-color: #b0b4ba;
  --lighter-text-color: #636a72;
  --border-color: #636a7248;
  --third-color: #262f39;
  --transparent: #262f3900;
  --active-song: #2f3944;
}

.clipPath {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.volumnButton {
  appearance: slider-vertical;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  /* -webkit-border-radius: 10px; */
  /* border-radius: 10px; */
  background: #1976d2;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c61a7;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
